<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.com"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="master">
	<head>
		<meta charset="UTF-8">
		<title>Bricoleur.ma</title>
	</head>
	<body >
	<div layout:fragment="contenu" class="container mt-5"  >
		<div class=" mx-auto" style="width: min-content">
		 <h5 class="text-center fw-bold">Vous n'êtes pas autorisé pour accéder à cette page !</h5>
		  <img alt="" style="width: 400px" src="https://cdn.dribbble.com/users/761395/screenshots/6287961/error_401.jpg">
		</div>
		 </div>
	


	</body>
</html>